body {
  /*padding-top: 50px;*/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-brand {
	color: #988ad7;
}

.jumbotron {
	background: #988ad7;
	margin-bottom: 0px;
}

.jumbotron h1 {
	color: #f2f1fa;
}

.lead {
	color: #f2f1fa;
	font-size: 30px;
}

.shade-a {
	background: #979797;
}

.shade-b {
	background: #000000;
}

p {	
	font-family: Lato,sans-serif;
	color: #979797;
	font-size: 24px;
}

h1 {
	font-family: Lato,sans-serif;
	font-size: 64px;
}

h2 {
	font-family: Lato, sans-serif;
	color: #585858;
}

h4 {
	color: #979797;
}

.left-image img {
	float:left;
}

.right-image img {
	float:right;
}

.text_line
{
clear:both;
margin-bottom:2px;
}

.contain-a {
	background: #f9f9f9;
	margin: 0px;
	width: auto;
	padding: 48px;
}

.contain-b {
	background: #f2f1fa;
	margin: 0px;
	width: auto;
	padding: 48px;	
}

.navbar {
	background: #f9f9f9
}

footer {
	background: #585858;
	padding: 48px;
	width: auto;
	margin: 0px;
}

.feature {
	/*margin: 20px;*/
	display:block;
    margin:auto;
}

.btn-primary {
	background: #a8bd40;
	border-color: #a8bd40;
}

.btn-primary:active {
	background: #c2d178;
	border-color: #c2d178;
}

.btn-primary:hover {
	background: #b1c452;
	border-color: #b1c452;
}

.btn-primary:visited {
	background: #a8bd40;
	border-color: #a8bd40;
}

.btn-lg {
	font-size: 24px;
}