body {
  /*padding-top: 50px;*/
}

.navbar-static-top {
  margin-bottom: 0px;
  color: #e5e5e5;
}

.navbar-brand {
	color: #e5e5e5;
	padding: 0px 0px 0px 20px;
	width: 200px;
}

.navbar-header {
	color: #e5e5e5;
}

.navbar-img {
	/*float: right;*/
	width: 100%;
	height: auto;
	margin: 5px;
}

.ash-navbar {
	margin-top: 5px;
	font-family: Lato,sans-serif;
	color: #979797;
}

.jumbotron {
	/*background: #988ad7;*/
	margin-bottom: 0px;
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #f2f1fa 0%, #988AD7 20%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #f2f1fa 0%, #988AD7 20%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #f2f1fa 0%, #988AD7 20%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f1fa), color-stop(.2, #988AD7));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #f2f1fa 0%, #988AD7 20%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #f2f1fa 0%, #988AD7 20%);
	}

.jumbotron h1 {
	color: #f2f1fa;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    font-weight: 100; 
    letter-spacing: 1px;
	font-size: 64px;
	margin: 10px 0 10px 0;
}


.lead {
	color: #f2f1fa;
	font-size: 24px;
	font-family: Lato,sans-serif;
	font-weight: 100;
	margin: 20px
}

.shade-a {
	background: #979797;
}

.shade-b {
	background: #000000;
}

p {	
	font-family: Lato,sans-serif;
	color: #979797;
	font-size: 24px;
}

p.detail {
	font-family: Lato,sans-serif;
	color: #979797;
	font-size: 16px;
}

ul {	
	font-family: Lato,sans-serif;
	color: #979797;
	font-size: 16px;
}

ol {	
	font-family: Lato,sans-serif;
	color: #979797;
	font-size: 16px;
}

h1 {
	/*font-family: Lato,sans-serif;*/
	font-size: 48px;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h2 {
	/*font-family: Lato, sans-serif;*/
	color: #585858;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h4 {
	color: #979797;
}

.page-header {
	color: #585858;
}

.left-image img {
	float:left;
}

.right-image img {
	float:right;
}

.text_line
{
clear:both;
margin-bottom:2px;
}

.contain-a {
	background: #f2f1fa;
	margin: 0px;
	width: auto;
	padding: 48px;
}

.contain-b {
	background: #e5e5e5;
	margin: 0px;
	width: auto;
	padding: 48px;	
}

.contain-c {
	background: #FFFFFF;
	margin: 0px;
	width: auto;
	padding: 48px;	
}
.navbar {
	background: #e5e5e5;
}

footer {
	/*: #585858;*/
	padding: 48px;
	width: auto;
	margin: 0px;
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #585858 0%, #000000 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #585858 0%, #000000 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #585858 0%, #000000 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #585858), color-stop(2, #000000));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #585858 0%, #000000 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #585858 0%, #000000 200%);
}

.feature {
	/*margin: 20px;*/
	display:block;
    margin:auto;
}

.btn-primary {
	background: #a8bd40;
	border-color: #a8bd40;
}

.btn-primary:active {
	background: #c2d178;
	border-color: #c2d178;
}

.btn-primary:hover {
	background: #b1c452;
	border-color: #b1c452;
}

.btn-primary:visited {
	background: #a8bd40;
	border-color: #a8bd40;
}

.btn-lg {
	font-size: 24px;
}

.jumbo-content {
	text-align: center;
	padding: 0px 0px;
}